name: Build

# Runs build on every push up
on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review, converted_to_draft]
    branches:
      - main
  workflow_dispatch:
    inputs:
      linting:
        type: boolean
        description: Run the linter
        required: false
        default: false

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    if: inputs.linting || github.event.pull_request.draft == false
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Linting
        run: ./gradlew clean ktlint detekt --parallel --refresh-dependencies

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "zulu"

      # TODO: Figure out how to simplify integration test run below

      - name: Add Homebrew to PATH
        run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH

      - name: Setup Container
        run: |-
          brew tap hashicorp/tap
          brew install hashicorp/tap/vault

      - name: Gradle Build
        run: ./gradlew clean build -i --refresh-dependencies --parallel -x ktlint -x detekt

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Test Results
          path: |
            **/build/test-results/**/*.xml

  event_file:
    name: "Upload Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Event File
          path: ${{ github.event_path }}
