name: Release Drafter

# Runs autolabeler on every PR
# Creates/updates draft release on every push to master
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  update-release-draft:
    runs-on: ubuntu-latest
    steps:
      - name: Update release draft
        uses: release-drafter/release-drafter@v5.20.0
        with:
          # allows autolabeler to run without unmerged PRs from being added to draft
          disable-releaser: ${{ github.ref_name != github.event.repository.default_branch }} # Should be the branch that gets releases
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
